
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">


<style>
A.class1 {color:grey;}
A.class1:link  { color: grey;}
A.class1:visited {text-decoration: none; color: grey;}
A.class1:hover {text-decoration: none; color: white;}
A.class1:active {text-decoration: none; color: white;}


    /* style the elements with CSS */
    #pleaserotate-graphic{
        fill: #fff;
    }

    #pleaserotate-backdrop {
        color: #fff;
        background-color: #000;
    }


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.page {
  width: 100%;
  height: 100vh;
}

.btn1 {
	        vertical-align: bottom;

display: table-cell;
        text-align: center;


}

</style>




  


<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script> 



<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<center>

<div id="scroll">
	  <div class="page" id="one"><br>
<h1 class="display-2">Trending Handles</h1>
<br><br>
  	<%= column_chart @top10twitterer ,  width: "800px", height: "500px" ,xtitle: "Accounts", ytitle: "Number of Tweets", dataset: {borderWidth: 2}, download: {filename: "top10twitterer"}%>
  </div>
  <div class="page" id="two">
<br>
<h1 class="display-2">Trending Countries</h1>
<br><br>
<%= pie_chart @countryparticipation ,  width: "800px", height: "500px" ,xtitle: "Accounts", ytitle: "Number of Tweets", dataset: {borderWidth: 2},download: {filename: "countryparticipation"}%>
</div>
  <div class="page" id="three">
<br>
<h1 class="display-2">Time </h1>
<br><br>
<%= area_chart @create_at ,  width: "800px", height: "500px" ,xtitle: "Time", ytitle: "Number of Tweets" , dataset: {borderWidth: 2},download: {filename: "area_chart"}, colors: ["#666"]%>
  </div>
  <div class="page" id="four">
<br>
<h1 class="display-2">Sentiments </h1>
<br><br>

<%= line_chart @sentiments ,  width: "800px", height: "400px" ,xtitle: "Sentiments", ytitle: "Number of Tweets" , dataset: {borderWidth: 2},download: {filename: "sentiments"}%>

<div class="btn1" role="group" aria-label="Basic example">
<br><br>
  <button type="button" class="btn btn-outline-secondary"><a class="class1" href="/crickets/slider">Back</a></button>
  <!-- <button type="button" class="btn btn-outline-secondary"><a class="class1" href="/crickets/slider">Back to Home Page</a></button> -->
</div>
</div>



</div>


</center>


<script type="text/javascript">
	


/* See related post at
https://codepen.io/Javarome/post/full-page-sliding
*/
function ScrollHandler(pageId) {
  var page = document.getElementById(pageId);
  var pageStart = page.offsetTop;
  var pageJump = false;
  var viewStart;
  var duration = 1000;
  var scrolled = document.getElementById("scroll");

  function scrollToPage() {
    pageJump = true;

    // Calculate how far to scroll
    var startLocation = viewStart;
    var endLocation = pageStart;
    var distance = endLocation - startLocation;

    var runAnimation;

    // Set the animation variables to 0/undefined.
    var timeLapsed = 0;
    var percentage, position;

    var easing = function(progress) {
      return progress < 0.5
        ? 4 * progress * progress * progress
        : (progress - 1) * (2 * progress - 2) * (2 * progress - 2) + 1; // acceleration until halfway, then deceleration
    };

    function stopAnimationIfRequired(pos) {
      if (pos == endLocation) {
        cancelAnimationFrame(runAnimation);
        setTimeout(function() {
          pageJump = false;
        }, 500);
      }
    }

    var animate = function() {
      timeLapsed += 16;
      percentage = timeLapsed / duration;
      if (percentage > 1) {
        percentage = 1;
        position = endLocation;
      } else {
        position = startLocation + distance * easing(percentage);
      }
      scrolled.scrollTop = position;
      runAnimation = requestAnimationFrame(animate);
      stopAnimationIfRequired(position);
      console.log("position=" + scrolled.scrollTop + "(" + percentage + ")");
    };
    // Loop the animation function
    runAnimation = requestAnimationFrame(animate);
  }

  window.addEventListener("wheel", function(event) {
    viewStart = scrolled.scrollTop;
    if (!pageJump) {
      var pageHeight = page.scrollHeight;
      var pageStopPortion = pageHeight / 2;
      var viewHeight = window.innerHeight;

      var viewEnd = viewStart + viewHeight;
      var pageStartPart = viewEnd - pageStart;
      var pageEndPart = pageStart + pageHeight - viewStart;

      var canJumpDown = pageStartPart >= 0;
      var stopJumpDown = pageStartPart > pageStopPortion;

      var canJumpUp = pageEndPart >= 0;
      var stopJumpUp = pageEndPart > pageStopPortion;

      var scrollingForward = event.deltaY > 0;
      if (
        (scrollingForward && canJumpDown && !stopJumpDown) ||
        (!scrollingForward && canJumpUp && !stopJumpUp)
      ) {
        event.preventDefault();
        scrollToPage();
      }
      false; //
    } else {
      event.preventDefault();
    }
  });
}
new ScrollHandler("one");
new ScrollHandler("two");
new ScrollHandler("three");

new ScrollHandler("four");






</script>
